# Python
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv
.env

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo
.vscode
# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
*.bak
*.tmp
